.content {
    margin-left: 250px;
    width: calc(100% - 250px);
    background-color: #FEF5E7;
}

.container {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    background: #35512F;
    color: white;
    width: 900px;
}

#searchInput, #btnajoutm {
    border-radius: 10px;
    height: 40px;
}



#btnajoutm {
    cursor: pointer;
}

.row > div {
    display: inline-block;
    float: none;
}

#ajouter, #annuler {
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    margin: 10px auto; /* Ajustement pour centrer verticalement */
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    cursor: pointer;
    color: white;
    background: #35512F;
}

.modall {
    display: none;
    position: fixed;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    margin-left: 150px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 700px;
    height: 490px;
    overflow: auto;

}

.modal-content {
    padding: 10px;
    border-radius: 10px;
}

.close {
    color: black;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

label, input, select, option {
    margin-bottom: 10px;
}

.modal-header .modal-heading {
    margin-top: 5px;
    font-size: 20px;
}

.modal-footer .form-group {
    text-align: center;
    margin: 5px;
}

.modal-divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 10px 0;
}
